body {
	font-family: $font-noto, $font-roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei" , "Helvetica Neue", Arial, sans-serif;
	line-height: 1.5;

}

*,*::before,*::after{
	box-sizing: border-box;
}