.footer {
	&-Link {
		@include flex-Between;
		@include section-Padding(32px,24px);
		position: relative;
		&-Menu {
			@include flex-Between;
			align-items: center;
			flex-basis: 464px;
			a {
				color: #fff;
			}
		}

		&-Social {
			@include flex-Between;
			flex-basis: 208px;
			@include tablet() {
				flex-basis: 136px;
				img {
					height: 24px;
					width: 24px;
				}
			}
		}

		@include phone() {
			@include section-Padding(24px,0);
			&-Menu {
				display: none;
			}

			&-Social {
				justify-content: flex-end;
				position: absolute;
				right: 0;
				li {
					padding-right: 24px;
					&:last-child {
						padding: 0;
					}
				}
			}
		}
	}

	&-Contact {
		padding-bottom: 24px;
		border-bottom: 1px solid #fff;
		font-size: 36px;
		li {
			display: flex;
			align-items: center;
			a {
				color: #fff;
			}
		}

		& :nth-child(1) {
			padding-bottom: 22px;
		}

		img {
			padding-right: 22px;
		}

		@include tablet() {
			font-size: 20px;
			& :nth-child(1) {
				padding-bottom: 12px;
			}

			img {
				padding-right: 8px;
			}
		}
		@include phone() {
			font-size: 16px;
			& :nth-child(1) {
				padding-bottom: 6px;
			}

			img {
				width: 24px;
				height: 24px;
			}

		}
	}
	&-Copyright {
		@include flex-Between;
		padding-top: 32px;
		padding-bottom: 39px;
		p {
			color: #fff;
		}
		&-List {
			@include flex-Between;
			font-size: 14px;
			width: 174px;
			a {
				color: #fff;
			}

			@include tablet() {
				width: 150px;
			}

		}
		@include phone() {
			flex-direction: column;
			padding-top: 16px;
			padding-bottom: 24px;

			img {
				width: 24px;
				height: 24px;
			}

			&-List {
				flex-direction: column;
				li {
					padding-top: 8px;
				}
			}

		}
	}
}
