.blogs {
  &-Main {
    @include blogs-Header;
  }

  h2 {
    @include Title;
    margin-top: 40px;
  }

  &-Menu {
    font-size: 20px;
    li {
      @include flex-Between;
      margin-bottom: 60px;

      &:last-child {
        margin-bottom: 0;
      }

      img {
        width: 635px;
        height: 400px;
      }
    }

    &-Content {
      @include flex-Between;
      flex-direction: column;
      margin-left: 30px;
      h3 a {
        font-size: 32px;
        color: $secondColor;
        &:hover {
          color:$mainColor;
        }
      }

      p {
        padding-top: 24px;
      }

      p a {
        display: none;
        color: #555555;
        font-weight: 700;
      }

    }

    &-Title-h4 {
      @include flex-Between;
      font-weight: 500;
      & :last-child {
        font-size: 16px;
      }
    }

    &-Link {
      display: inline-flex;
      justify-content: flex-end;
      a {
        font-size: 32px;
        color: $secondColor;
        font-weight: 900;
        &:hover {
          color:$mainColor;
        }
      }
    }
  }

  &-Pages-Nav {
    @include product-Pages;
    @include section-Padding(96px,160px);

    & :nth-child(3),
    li:nth-of-type(3) a
    {
        @include pageHover;
    }
  }

  @include tablet() {
    h2 {
      @include section-Margin(32px,40px);
    }

    &-Menu {
      font-size: 16px;
      li {
        margin-bottom: 24px;

        img {
          width: 330px;
          height: 208px;
        }
      }

      &-Content {
        h3 a {
          font-size: 20px;
        }

        p {
          padding-top: 32px;
          font-size: 14px;

          span {
            display: none;
          }

          a {
            display: inline;
            color: #555555;
            font-weight: 700;
          }
        }
      }

      &-Title-h4 :last-child {
            font-size: 14px;
        }

      &-Link {
        display: none;
      }
    }

    &-Pages-Nav {
      @include section-Padding(64px,96px);
    }
  }

  @include phone() {
    &-Main-Header {
      display: none;
    }

    h2 {
      @include section-Margin(36px,28px);
      font-size: 28px;
    }

    &-Menu {
      li {
        flex-direction: column;
        margin-bottom: 20px;
        justify-content: flex-start;
        img {
          width: 345px;
          height: 217px;
        }
      }

      &-Content {
        margin: 0;
        h3 a {
          font-size: 16px;
        }

        p {display: none;}
      }

      &-Title-h4 {
        font-size: 14px;
      }
    }

    &-Pages-Nav {
      @include section-Padding(40px,56px);
      li a {
        font-size: 16px;
        padding: 10px 12px;
      }
    }
  }
}
