.blogs-Regular {
  @include blogs-Header;
}

.blog {
  h5 {
    padding: 8px 0;
    a {
      color: $mainColor;
    }
  }

  &-Content {
    @include flex-Between;
  }

  &-Article {
    width: 75%;
    margin-right: 36px;
    &-Tags a {
      color:$mainColor;
      font-size: 24px;
      font-weight: 700;
      margin-right: 16px;
    }

    h2 {
      font-size: 48px;
      color: $secondColor;
    }

    &-Title-h4 {
      @include flex-Between;
      @include section-Padding(8px,24px);
      align-items: center;
      font-size: 28px;
      font-weight: 500;
      & :last-child {
        font-size: 16px;
        color: #6C6C6C;
      }
    }

    img {
      max-width: 825px;
      height: auto;
    }

    p {
      color: $blogContentColor;
      font-size: 20px;
      @include section-Padding(24px,40px);
    }

    &-Social {
      @include section-Padding(8px,20px);
      display: flex;
      align-items: center;
      border-bottom: 1px solid #000;
      li {
        font-weight: 700;
        font-size: 20px;
        color: $blogContentColor;
        margin-right: 20px;
        &:nth-child(2) {
          margin-right: 16px;
        }
      }
    }

    &-Others {
      @include flex-Between;
      @include section-Padding(24px,160px);
      img {
        width: 16px;
        height: 16px;
        margin-left: 12px;
      }

      li {
        a {
          font-size: 20px;
          color: #000;
          display: block;
        }

        &:first-child img {
          margin-left: 0;
          margin-right: 12px;
          transform: rotate(180deg);
        }

        &:last-child a {
          display: inline-flex;
          flex-direction: row-reverse;
          align-items: center;
        }
      }
    }
  }

  &-Tags {
    width: 25%;
    h2 {
      display: flex;
      align-items: center;
      font-size: 28px;
      font-weight: 700;
      color:$mainColor;
      padding-bottom: 8px;
      img {
        margin-right: 12px;
      }
    }

    &-Group {
      display: flex;
      flex-wrap: wrap;
      a {
        margin-right: 24px;
        color:$mainColor;
        font-size: 24px;
        font-weight: 700;
      }
    }
  }

  @include tablet() {
    h5 {
      font-size: 14px;
    }

    &-Article {
      width: 75%;
      margin-right: 30px;
      &-Tags a {
        color:$mainColor;
        font-size: 16px;
        margin-right: 8px;
      }

      h2 {
        font-size: 32px;
      }

      &-Title-h4 {
        @include flex-Between;
        padding-top: 4px;
        font-size: 16px;
        & :last-child {
          font-size: 14px;
        }
      }

      img {
        max-width: 510px;
      }

      p {
        font-size: 16px;
        @include section-Padding(16px,24px);
      }

      &-Social {
        padding-top: 4px;
        li {
          font-size: 16px;
          margin-right: 16px;
        }
      }

      &-Others {
        @include section-Padding(16px,96px);
        img {
          margin-left: 8px;
        }

        li {
          a {
            font-size: 16px;
          }

          &:first-child img {
            margin-right: 8px;
          }
        }
      }
    }

    &-Tags {
      h2 {
        font-size: 20px;
        img {
          margin: 0;
          width: 20%;
          height: auto;
        }
      }

      &-Group a {
          margin-right: 16px;
          font-size: 16px;
      }
    }
  }

  @include phone() {
    &-Content {
      flex-direction: column;
    }

    &-Article {
      width: 100%;
      margin:0;
      &-Tags a {
        font-size: 14px;
        margin-right: 4px;
      }

      h2 {
        font-size: 20px;
      }

      &-Title-h4 {
        @include section-Padding(0,20px);
        font-size: 14px;
      }

      img {
        max-width: 345px;
      }

      p:last-of-type {
        padding-bottom: 20px;
      }

      &-Social {
        @include section-Padding(0,16px);
      }

      &-Others {
        flex-direction: column;
        @include section-Padding(10px,30px);

        li {
          padding-bottom: 8px;
          a {
            font-size: 14px;
          }

          img,
          &:first-child img  {
            margin: 0;
            margin-right: 4px;
          }

          &:last-child a {
            flex-direction: row;
          }
        }
      }
    }

    &-Tags {
      width: 100%;
      h2 {
        font-size: 20px;
        img {
          margin-right: 2px;
          width: 10%;
        }
      }

      &-Group{
        padding-bottom: 56px;
        a {
          margin-right: 8px;
        }
      }
    }
  }
}