.question {
    h2 {
        @include Title;
    }

    h3 {
        font-size: 32px;
        font-weight: 700;
    }

    &-Section {
        @include section-Padding(36px,160px);
        font-size: 20px;
        font-weight: 700;
        p {
            max-width: 920px;
            font-family: source-han-sans-traditional;
            font-weight: 400;
            font-size: 16px;
            @include section-Padding(16px,32px);
            padding-left: 95px;
        }

        li:last-child p {
            padding-bottom: 0;
        }
    }

    @include tablet() {
        h2 {
            @include section-Margin(60px,40px);
        }

        &-Section {
            @include section-Padding(32px,96px);
            p {
                padding-left: 56px;
                padding-bottom: 24px;
            }
        }
    }

    @include phone() {
        h2 {
            @include section-Margin(28px,24px);
            font-size: 28px;
        }

        h3 {
            font-size: 20px;
        }

        &-Section {
            font-size: 16px;
            @include section-Padding(24px,56px);
        }

        p {
            @include section-Padding(8px,20px);
            font-size: 14px;
            padding-left: 0;
        }
    }

}