.subTitle {
	padding-top: 60px;
	text-align: center;
	font-weight: 700;
	color: $secondColor;
	font-size: 48px;
	@include tablet() {
		padding-top: 40px;
		font-size: 32px;
	}

	@include phone() {
		padding-top: 30px;
		font-size: 20px;
	}
}

.whiteTitle {
	color: #fff;
}

.blackTitle {
	color: #000;
}

.banner {
	background: url(../images/banner.png) no-repeat center center;
	background-size:cover;
    &-Text {
        @include flex-Center;
        flex-direction: column;
        align-items: flex-end;
        color: $secondColor;
        font-size: 36px;
        height: 840px;
        p {
            font-weight: 700;
	        font-size: 64px;
        }
    }

    @include tablet() {
        background: url(../images/banner-sm.png) no-repeat center center;
		background-size: cover;
        &-Text {
            font-size: 20px;
            p {
                font-size: 48px;
            }
        }
    }

    @include phone() {
        &-Text {
            font-size: 16px;
            height: 394px;
            p {
                font-size: 32px;
            }
        }
    }
}

.service {
	background: $mainColorLight;
    &-Cards {
        @include flex-Between;
        @include section-Padding(48px,80px);
        flex-wrap: wrap;
        li {
            width: 255px;
        }

        h3 {
            color: $secondColor;
            font-size: 24px;
            text-align: center;
            @include section-Padding(24px,8px);
            font-weight: 700;
        }

        &-Img {
            display: flex; /*讓圖片置中*/
            margin: 0 auto;
            width: 100px;
            height: 100px;
        }
        @include tablet() {
            @include section-Padding(40px,56px);
            justify-content: space-around;
        }
        @include phone() {
            @include section-Padding(32px,40px);
            height: 1100px;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
        }
    }


}

.product-Classic-Content {
    @include section-Padding(40px,80px);
    @include flex-Center;
	flex-direction: column;
    &-Image {
        width: 635px;
        height: 320px;
    }

    h3 {
        font-family: "Roboto";
        font-style: italic;
        font-size: 48px;
        text-transform: uppercase;
        color: $mainColor;
        font-weight: 900;
        padding: 0 30px;
    }

    li {
        @include flex-Center;
        align-items: center;
        &:nth-child(2) {
            flex-direction: row-reverse;
        }

        &:nth-child(-n+2){
        padding-bottom: 32px;
        }

        h3 span {
            padding-right: 10px;
        }
    }

    @include tablet() {
        @include section-Padding(32px,56px);
        align-items: flex-start;
        &-Image {
            width: 390px;
            height: 168px;
        }

        h3 {
            font-size: 28px;
        }

        li {
            h3 span {
                padding-right: 8px;
            }

            &:nth-child(2) {
                flex-direction: row;
            }

            &:nth-child(-n+2) {
                padding-bottom: 8px;
            }
        }
    }

    @include phone() {
        @include section-Padding(20px,40px);
        &-Image {
            width: 345px;
            height: 134px;
        }

        h3 {
            padding: 0;
            position: absolute;
        }
    }
}

.product-Cobrand {
	background: url(../images/bg.png) center center;
	background-size: cover;
    &-Card {
        display: flex;
        @include section-Padding(40px,80px);

        h3 {
            @include flex-Center;
            color: $mainColor;
            font-size: 72px;
            font-weight: 700;
            position: relative;
            top: 250px;
            z-index: 1;
            line-height: 0;
        }

        &-Size {
            height: 450px;
            width: 540px;
            opacity: 0.4;
        }

        &1{
            background: url(../images/product-8.png)  no-repeat;
            background-size: cover;
            margin-right: 30px;
        }

        &2{
            background-image: url(../images/product-9.png);
            background-size: cover;
        }

        @include tablet() {
            @include section-Padding(32px,56px);
            h3 {
                font-size: 32px;
                top: 150px;
            }

            &-Size {
                height: 278px;
                width: 330px;
            }
        }

        @include phone() {
            @include section-Padding(20px,40px);
            flex-direction: column;
            align-items: center;
            h3 {
                position: relative;
            }

            &-Size {
                width: 345px;
                height: 290px;
            }

            &1{
                margin-right: 0;
                margin-bottom: 16px;
            }
        }
    }
}

.customerRec {
    @include flex-Center;
    @include section-Padding(40px,80px);
    align-items: center;
	flex-wrap: wrap;
    li {
        width: 255px;
        margin-right: 30px;
        box-shadow: 5px 5px 5px gainsboro;
        &:last-child {
            margin: 0;
        }

        img {
            display: block;
            height: 256px;
            width: 255px;
            max-width: 100%;
        }
    }

    @include tablet() {
        @include section-Padding(32px,56px);
        li {
            width: 330px;
            margin-top: 32px;
            margin-right: 30px;

            &:nth-child(2n) {
                margin-right: 0;
            }

            img {
                width: 330px;
            }
        }
    }

    @include phone() {
        @include section-Padding(20px,40px);
        li {
            width: 345px;
            margin-right: 0;
            margin-top: 16px;

            &:nth-child(1) {
                margin-top: 0;
            }

            img {
                width: 345px;
            }
        }
    }
}

.card-Content {
    @include flex-Between;
    flex-direction: column;
	padding: 16px;
	height: 204px;
    h3 {
        font-size: 14px;
    }

    &-Specs h3 {
        font-weight: 500;
        padding-bottom: 8px;
    }

}


.contact {
    background: $mainColorLight;
    &-Form {
        width: 730px;
        margin: 0 auto;
        p {
            @include section-Padding(24px,20px);
            font-size: 20px;
        }

        input[type="text"],textarea {
            @include input-Adj(710px,50px,16px);
            background: $mainColorLight;
            border: 1px solid #000;
        }

        textarea {
            padding-top: 12px;
            height: 136px;
            resize: none;
        }

        &-Btn {
            @include flex-Center;
            align-items: center;
            &-Submit {
                font-family: "Noto Sans TC";
                font-weight: 700;
                background: $mainColor;
                color: #fff;
                padding: 16px 143px;
                margin-top: 40px;
                margin-bottom: 80px;
                text-align: center;
                cursor: pointer;
                &:hover{
                    filter:brightness(.8);
                }
            }
        }

        @include tablet() {
            width: 450px;

            p {
                font-size: 16px;
                padding-bottom: 16px;
            }

            input[type="text"],
            textarea {
                width: 450px;
                height: 36px;
                padding-left: 12px;
            }

            textarea {
                padding-top: 8px;
                height: 100px;
            }

            &-cbx {
                display: flex;
            }
        }

        @include phone() {
            width: 345px;
            font-size: 14px;

            p {
                @include section-Padding(20px,8px);
            }

            input[type="text"],
            textarea {
                width: 345px;
                font-size: 14px;
            }

            textarea {
                height: 100px;
            }

            &-btn {
                padding: 8px 55px;
                margin-top: 28px;
                margin-bottom: 48px;
                font-size: 14px;
            }
        }
    }
}