.subTitle {
	padding-top: 60px;
	text-align: center;
	font-weight: 700;
	color: $secondColor;
	font-size: 48px;
	@include tablet() {
		padding-top: 40px;
		font-size: 32px;
	}

	@include phone() {
		padding-top: 30px;
		font-size: 20px;
	}
}

.whiteTitle {
	color: #fff;
}

.blackTitle {
	color: #000;
}

.banner {
	background: url(../images/banner.png) no-repeat center center;
	background-size:cover;
    &-Text {
        @include flex-Center;
        flex-direction: column;
        align-items: flex-end;
        color: $secondColor;
        font-size: 36px;
        height: 840px;
        p {
            font-weight: 700;
	        font-size: 64px;
        }
    }

    @include tablet() {
        background: url(../images/banner-sm.png);
        &-Text {
            font-size: 20px;
            p {
                font-size: 48px;
            }
        }
    }

    @include phone() {
        &-Text {
            font-size: 16px;
            height: 394px;
            p {
                font-size: 32px;
            }
        }
    }
}

.service {
	background: $mainColorLight;
    &-Cards {
        @include flex-Between;
        @include section-Padding(48px,80px);
        flex-wrap: wrap;
        li {
            width: 255px;
        }

        h3 {
            color: $secondColor;
            font-size: 24px;
            text-align: center;
            @include section-Padding(24px,8px);
            font-weight: 700;
        }

        &-Img {
            display: flex; /*讓圖片置中*/
            margin: 0 auto;
            width: 100px;
            height: 100px;
        }
        @include tablet() {
            @include section-Padding(40px,56px);
            justify-content: space-around;
        }
        @include phone() {
            @include section-Padding(32px,40px);
            height: 1100px;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
        }
    }


}

.product-Classic-Content {
    @include section-Padding(40px,80px);
    &-Image {
        max-width: 635px;
        height: auto;
    }

    h3 {
        display: flex;
        align-items: center;
        font-family: "Roboto";
        font-style: italic;
        font-size: 48px;
        text-transform: uppercase;
        color: $mainColor;
        font-weight: 900;
        padding: 0 30px;
    }

    li {
        display: flex;
        align-items: center;
        &:nth-child(2) {
            flex-direction: row-reverse;
        }

        &:nth-child(-n+2){
        padding-bottom: 32px;
        }

        h3 span {
            padding-right: 10px;
            img {
                width: 50px;
                height: 50px;
            }
        }
    }

    @include tablet() {
        @include section-Padding(32px,56px);
        @include flex-Center;  //如果沒設flex，卡片會跑版
        flex-direction: column;
        align-items: flex-start;
        &-Image {
            max-width: 390px;
        }

        h3 {
            font-size: 28px;
        }

        li {
            h3 span {
                padding-right: 8px;
            }

            &:nth-child(2) {
                flex-direction: row;
            }

            &:nth-child(-n+2) {
                padding-bottom: 8px;
            }
        }
    }

    @include phone() {
        @include section-Padding(20px,40px);
        li {
            position: relative;
            justify-content: center; //讓文字能夠在圖片上置中對齊
        }

        &-Image {
            max-width: 345px;
        }

        h3 {
            position: absolute;
            padding: 0;
            // left: 0;
            // transform: translateX(50%);
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }

    }
}

.product-Cobrand {
	background: url(../images/bg.png) center center;
	background-size: cover;
    &-Card {
        position: relative;
        display: flex;
        @include section-Padding(40px,80px);

        h3 {
            text-align: center;
            color: $mainColor;
            font-size: 72px;
            font-weight: 700;
            width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            z-index: 1;
        }

        &-Size::before {
            content: '';
            background-color: rgba(255, 255, 255, 0.6);
            width: 100%;
            height: 100%;
            position: absolute;
        }

        &-Size {
            position: relative;
            width: 540px;
            height: 450px;
        }

        &1{
            background-color: #fff;
            background: url(../images/product-8.png);
            background-size: cover;
            margin-right: 30px;
        }

        &2{
            background-image: url(../images/product-9.png);
            background-size: cover;
        }

        @include tablet() {
            @include section-Padding(32px,56px);
            h3 {
                font-size: 32px;
                top: 150px;
            }

            &-Size {
                height: 278px;
                width: 330px;
            }
        }

        @include phone() {
            @include section-Padding(20px,40px);
            flex-direction: column;
            align-items: center;
            h3 {
                position: relative;
            }

            &-Size {
                width: 345px;
                height: 290px;
            }

            &1{
                margin-right: 0;
                margin-bottom: 16px;
            }
        }
    }
}

.customerRec {
    @include flex-Center;
    @include section-Padding(40px,80px);
    align-items: center;
	flex-wrap: wrap;
    li {
        width: 255px;
        margin-right: 30px;
        box-shadow: 5px 5px 5px gainsboro;
        border-radius: 10px;
        &:last-child {
            margin: 0;
        }

        &:hover {
            transition: .4s;
            color: #fff;
            background: $mainColor;
        }

        img {
            border-radius: 10px 10px 0 0;
            display: block;
            height: 250px;
            width: 255px;
            object-fit: cover;
        }
    }

    @include tablet() {
        @include section-Padding(32px,56px);
        li {
            width: 330px;
            margin-top: 32px;
            margin-right: 30px;

            &:nth-child(2n) {
                margin-right: 0;
            }

            &:last-child {
                margin-top: 32px;
            }

            img {
                width: 330px;
            }
        }
    }

    @include phone() {
        @include section-Padding(20px,40px);
        li {
            width: 345px;
            margin-top: 16px;
            margin-right: 0;

            &:nth-child(1) {
                margin-top: 0;
            }


            &:last-child {
                margin-top: 16px;
            }

            img {
                width: 345px;
            }
        }
    }
}

.card-Content {
    @include flex-Between;
    flex-direction: column;
	padding: 16px;
	height: 204px;
    h3 {
        font-size: 14px;
    }

    &-Specs h3 {
        font-weight: 500;
        padding-bottom: 8px;
    }

}


.contact {
    background: $mainColorLight;
    &-Form {
        width: 65%;
        margin: 0 auto;
        p {
            @include section-Padding(24px,20px);
            font-size: 20px;
        }

        .formInput {
            width: 100%;
            padding: 15px 0 15px 16px;
            background: $mainColorLight;
            border: 1px solid #000;
            margin-bottom: 16px;
        }

        textarea {
            height: 136px;
            resize: none;
        }

        &-Btn {
            @include flex-Center;
            align-items: center;
            &-Submit {
                font-family: "Noto Sans TC";
                font-weight: 700;
                background: $mainColor;
                color: #fff;
                padding: 16px 0;
                width: 50%;
                @include section-Margin(40px,80px);
                text-align: center;
                cursor: pointer;
                &:hover{
                    filter:brightness(.8);
                }
            }
        }

        @include tablet() {
            p {
                font-size: 16px;
                padding-bottom: 16px;
            }

            .formInput {
                padding: 9px 0 9px 12px;
            }

            textarea {
                height: 100px;
            }

            &-cbx {
                display: flex;
            }
        }

        @include phone() {
            width: 100%;
            font-size: 14px;

            p {
                @include section-Padding(20px,8px);
            }

            .formInput {
                font-size: 14px;
            }

            &-btn {
                padding: 8px 55px;
                @include section-Margin(28px,48px);
                font-size: 14px;
            }
        }
    }
}