.location {
    &-Menu {
        display: flex;
        flex-wrap: wrap;
        font-size: 20px;
        @include section-Padding(2px,160px);

        li {
            width: 330px;
            margin-top: 30px;
            margin-right: 30px;
            border: 1px solid $locationBrdColor;
            &:nth-last-child(3) {
                margin-right: 0;
            }

            a {
                display: block;
                @include pageHover;
                text-align: center;
                padding: 20px 0;
                &:hover {
                    background: $mainColor;
                }
            }
        }

        h3 {
            font-size: 24px;
            font-weight: 500;
            padding: 12px 24px;
            border-bottom: 1px solid $locationBrdColor;
        }

        &-Image {
            display: block;
            width: 330px;
            height: 224px;
            object-fit: cover;
        }

        &-Content {
            padding: 16px 0;
            img {
                padding-right: 10px;
            }

            li {
                display: flex;
                align-items: flex-start;
                margin: 0 !important;
                border: none;
                padding: 8px 16px;
                &:last-child {
                    padding-bottom: 0;
                }
            }
        }
    }

    @include tablet() {
        &-Menu {
            @include section-Padding(4px,96px);
            font-size: 14px;

            h3 {
                font-size: 16px;
            }

            li {
                margin-top: 20px;
                &:nth-last-child(3) {
                    margin-right: 30px;
                }

                &:nth-child(2n) {
                    margin-right: 0;
                }

                a {
                    padding: 16px 0;
                }
            }
        }
    }

    @include phone() {
        &-Menu {
            padding-bottom: 56px;
            font-size: 14px;
            li {
                margin-top: 16px;
                margin-right: 0;
            }
        }
    }
}