body {
	font-family: $font-noto, $font-roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei" , "Helvetica Neue", Arial, sans-serif;
	line-height: 1.5;

}

*,*::before,*::after{
	box-sizing: border-box;
}

.header, .footer {
	background: $mainColor;
}

.header-Logo a:hover,
.header-Menu a:hover,
.footer-Link-Menu a:hover,
.footer-Contact a:hover,
.footer-Copyright-List a:hover,
.footer-Link-Social a:hover {
	filter:brightness(.8);
	transition: .3s;
}

.container {
	max-width: 1110px;
	margin: 0 auto;
	@include tablet() {
		width: 690px;
	}

	@include phone() {
		width: 345px;
	}
}

.header {

	@include flex-Between;
	padding :30px 88px;
	&-Logo a {
		display: block;
		background: url(../images/logo.png) no-repeat;
		background-size: contain;
		width: 80px;
		height: 48px;
		text-indent: 100%;
		white-space: nowrap;
		overflow: hidden;
	}

	&-Menu {
		@include flex-Between;
		font-size: 20px;

		li {
			padding-right: 64px;
			a {
				color: #fff;
			}

			&:last-child {
				padding-right: 0;
			}

			@include tablet() {
				padding-right: 40px;
			}
		}
	}

	@include phone() {
		flex-direction: column;
		align-items: center;
		border: 1px solid #fff;
		padding: 0;
		padding-top :10px;

		&-Logo a {
			width: 48px;
			height: 50px;
		}

		&-Menu {
			flex-wrap: wrap;
			text-align: center;
			width: 100%;
			justify-content: center;
			li {
				padding: 8px 0px;
				height: 45px;
				width: 50%;
				border: 1px solid #fff;
				border-bottom:none;
				a {
					display: block;
				}
			}
		}
	}
}

.footer {
	&-Link {
		@include flex-Between;
		padding-top: 32px;
		padding-bottom: 24px;
		&-Menu {
			@include flex-Between;
			align-items: center;
			flex-basis: 464px;
			a {
				color: #fff;
			}
		}

		&-Social {
			@include flex-Between;
			flex-basis: 208px;
			@include tablet() {
				flex-basis: 136px;
				img {
					height: 24px;
					width: 24px;
				}
			}
		}

		@include phone() {
			flex-direction: column;
			padding-top: 24px;
			padding-bottom: 0;
			&-Menu {
				display: none;
			}

			&-Social {
				flex-basis: 24px;
				justify-content: flex-end;
				position: absolute;
				right: 24px;
				li {
					padding-right: 24px;
				}
			}
		}
	}

	&-Contact {
		padding-bottom: 24px;
		border-bottom: 1px solid #fff;
		font-size: 36px;
		li {
			display: flex;
			align-items: center;
			a {
				color: #fff;
			}
		}

		& :nth-child(1) {
			padding-bottom: 22px;
		}

		img {
			padding-right: 22px;
		}

		@include tablet() {
			font-size: 20px;
			& :nth-child(1) {
				padding-bottom: 12px;
			}

			img {
				padding-right: 8px;
			}
		}
		@include phone() {
			font-size: 16px;
			& :nth-child(1) {
				padding-bottom: 6px;
			}

			img {
				width: 24px;
				height: 24px;
			}

		}
	}
	&-Copyright {
		@include flex-Between;
		padding-top: 32px;
		padding-bottom: 39px;
		h4 {
			color: #fff;
		}
		&-List {
			@include flex-Between;
			font-size: 14px;
			width: 174px;
			a {
				color: #fff;
			}

			@include tablet() {
				width: 150px;
			}

		}
		@include phone() {
			flex-direction: column;
			padding-top: 16px;
			padding-bottom: 24px;

			img {
				width: 24px;
				height: 24px;
			}

			&-List {
				flex-direction: column;
				li {
					padding-top: 8px;
				}
			}

		}
	}
}
