$font-noto: 'Noto Sans TC', sans-serif;
$font-roboto: 'Roboto', sans-serif;

$mainColor: #AA0601;
$mainColorLight: #AA06010D;
$titleBrdColor: #9C2015;
$secondColor: #650300;

$productColor1: #5F3F2D;
$productColor2: #B75929;

$locationBrdColor: #00000021;

$blogContentColor: #0A0A0A;