.color {
    &Size {
        height: 24px;
        width: 24px;
        &:hover {
            border: 2px solid #000;
        }
    }

    &1 {
        background-color: $productColor1;
    }

    &2 {
        background-color: $productColor2;
    }
}

.product {
    &-Banner-Pictures {
        display: flex;
        height: auto;
        img {
            max-width: 50%;
        }
    }

    &-Content {
        @include section-Padding(80px,160px);
        font-size: 24px;
        h2,h3 {
            text-align: center;
        }

        h2 {
            font-size: 42px;
            font-weight: 700;
        }

        h3 {
            font-size: 32px;
        }
    }

    &-Price {
        @include flex-Between;
        & :nth-child(2n) {
            font-weight: 700;
            color: $mainColor;
        }
      }

      &-Colors {
        @include flex-Between;
        align-items: flex-start;
        width: 56px;
      }

    @include tablet() {
        &-Banner_Pictures img {
            height: 305px;
        }

        &-Content {
            @include section-Padding(56px,96px);
            h2 {
                font-size: 32px;
            }

            h3 {
                font-size: 24px;
            }
        }
    }

    @include phone() {
        &-Banner-Pictures img {
            height: 148px;
        }

        &-Content {
            @include section-Padding(32px,56px);
            font-size: 16px;

            h2 {
                font-size: 20px;
            }

            h3 {
                font-size: 16px;
            }
        }
    }
}