.location {
    h2 {
        @include Title;
    }

    &-Selector {
        label {
            padding-right: 20px;
            font-size: 24px;
        }

        select {
            font-size: 18px;
            padding: 10px 0 10px 16px;
            width: 30%;
        }
    }

    @include tablet() {
        h2 {
            @include section-Margin(60px,40px);
        }

        &-Selector {
            label {
                font-size: 16px;
            }

            select {
                font-size: 16px;
                width: 35%;
            }
        }
    }

    @include phone() {
        h2 {
            @include section-Margin(28px,24px);
            font-size: 28px;
        }

        &-Selector {
            label {
                font-size: 14px;
                padding-right: 12px;
            }

            select {
                font-size: 14px;
                width: 75%;
            }
        }
    }
}